<!DOCTYPE html>
    <head>
        <title> Register </title>
        <link rel="stylesheet" type = "text/css" href="/homepage.css"/>
    </head>
    <body>
        <% if(isPresent == true) {%>
            <script>
                alert("Username already taken");
            </script>
        <% } %>

        <div id="wrapper">
            <div class="main-content">
              <div class="header-2">
                <h1>Sign up</h1>
              </div>
              <div class="l-part"> 
                <form method="post" action="/registeration">
                    <input required type="text" name="username" placeholder="Username" class="input-1" />
                    <input required type="password" name="password" placeholder="Password" class="input-2" />
                    <input required type="email" placeholder="x@mail.com" name="email" class="input-3"/>
                    <input type="submit" value="Register" class="btn"/>
                </form>
              </div>
            </div>
        </div>    

        <!-- <h1>Register for our Vocab App</h1>
        <form method="post" action="/registeration">
            <label for="username">Username:</label><br>
            <input required type="text" name="username"/><br>
            <label for="password">Password:</label><br>
            <input required type="password" name="password"/><br>
            <label for="email">Email:</label><br>
            <input required type="email" name="email"/><br><br>
            <input type="submit" value="Register"/><br>
        </form>
        <br> -->
    </body>
</html>