<!DOCTYPE html>
    <head>
        <title>Vocab Cards</title>
        <link rel="stylesheet" type = "text/css" href="/vocab.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div class="main-content">
              <div class="header-1">
                <h1>Looking for something?</h1>
              </div>
              <div class="l-part"> 
                <form method="post" action="/fetchWords">
                    <input required type="text" name="word" placeholder="look up a word..." class="input-1" />                
                    <div class="radio-lang">
                      <input type="radio" id="En" name="lang" checked="checked" value="en_US"/>
                      <label for="En">English</label>  
                      <input type="radio" id="hi" name="lang" value="hi"/> 
                      <label for="hi">Hindi</label>  
                      <input type="radio" id="ja" name="lang" value="ja"/> 
                      <label for="ja">Japanese</label>  
                      <input type="radio" id="de" name="lang" value="de"/>  
                      <label for="de">German</label>  
                    </div>             
                    <input type="submit" value="Search" class="btn"/>
                </form>
              </div>
            </div>
        </div>    

        <div class="sub-content">
            
            <div class="s-part-def">
                <% if(query == true) {%>
                    <p class="word">Definitions for <b><%= word %>:</b></p>
                    <% for( var i = 0; i< def.length; i++) { %>
                      <li>
                          <div>
                              <ol>
                                  <p><%= def[i].definition %></p>
                                  <p>Example: <b><%= def[i].example %></b></p>
                              </ol>
                          </div>
                      </li>  
                    <% } %>
              <% } else { %>
                  <p>Definitions not found for "<%= def %>" please verify word</p>  
            <% } %>        
            </div>
        </div>

    </body>
</html>