<!DOCTYPE html>
    <head>
        <title>Vocab Cards</title>
        <link rel="stylesheet" type = "text/css" href="/vocab.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div class="main-content">
              <div class="header-1">
                <h1>Whatcha lookin' for ?</h1>
              </div>
              <div class="l-part"> 
                <form method="post" action="/fetchWords">
                    <input required type="text" name="word" placeholder="shade" class="input-1" />                
                    <input type="button" class="lang" name = "English" value="English"/>
                    <input type="button" class="lang" name = "Hindi" value="Hindi"/>
                    <input type="button" class="lang" name = "French" value="French"/>
                    <input type="button" class="lang" name = "German" value="German"/>                
                    <input type="submit" value="Search" class="btn"/>
                </form>
              </div>
            </div>
        </div>    

        <!-- <form method="post" action="/fetchWords">
            <label for="word">Search:</label><br>
            <input type="text" name="word"/><br><br>
            <input type="submit" value="Search"/><br>
        </form> -->

        <div class="sub-content">
            <h2>Definitions:</h2>
            <div class="s-part-def">
                <% if(query == true) {%>
                    <% for( var i = 0; i< def.length; i++) { %>
                      <li>
                          <div>
                              <ol>
                                  <p><%= def[i].definition %></p>
                                  <p>Example: <b><%= def[i].example %></b></p>
                              </ol>
                          </div>
                      </li>  
                    <% } %>
              <% } else { %>
                  <p>Definitions not found for "<%= def %>" please verify word</p>  
            <% } %>        
            </div>
        </div>

    </body>
</html>