<!DOCTYPE html>
    <head>
        <title>Vocab Cards</title>
    </head>
    <body>
        <h1>Welcome to the Vocab app</h1>
        <h2>Search for a word:</h1>
        <form method="post" action="/fetchWords">
            <label for="word">Search:</label><br>
            <input type="text" name="word"/><br><br>
            <input type="submit" value="Search"/><br>
        </form>
        <div>
            <% if(query == true) {%>
                  <h2>Definitions:</h2>
                  <p><%= def %></p>  
            <% } %>        
        </div>
        <br>
    </body>
</html>