<!DOCTYPE html>
    <head>
        <title>Vocab Cards</title>
    </head>
    <body>
        <h1>Answers as many words you can:</h1>
        <form method="post" action="/login">
            <label for="username">Username:</label><br>
            <input type="text" name="username"/><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password"/><br><br>
            <input type="submit" value="Login"/><br>
        </form>
        <br>
        <a href="./registeration">Register here</a>
    </body>
</html>